<div class="container">
  <%= form_with model: @profile do |f| %>
    <div class="row">
      <div class="col-md-6">
        <%= image_tag(rails_blob_path(@profile.profile_image), size: "300x300") if @profile.profile_image.attached? %>
        <br />
        <%= f.file_field :profile_image, class:'mt-3' %>
        <%if @profile.errors[:profile_image].any? %>
          <p class="bg-danger"><%= @profile.errors[:profile_image].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
      <div class="col-md-6">
          <div class="row">
            <div class="mb-3 col-md-6">
              <%= f.label :nombre %>
              <%= f.text_field :nombre, class: "form-control" %>
            </div>
            <div class="mb-3 col-md-6">
              <%= f.label :apellido %>
              <%= f.text_field :apellido, class: "form-control" %>
            </div>
            <div class="mb-3 col-md-6">
              <%= f.label :direccion %>
              <%= f.text_field :direccion, class: "form-control" %>
            </div>
            <div class="mb-3 col-md-6">
              <%= f.label :ciudad %>
              <%= f.text_field :ciudad, class: "form-control" %>
            </div>
            <div class="mb-3 col-md-6">
              <%= f.label :estado %>
              <%= f.text_field :estado, class: "form-control" %>
            </div>
            <div class="mb-3 col-md-6">
              <%= f.label :zip %>
              <%= f.text_field :zip, class: "form-control" %>
            </div>
          </div>
          </div>
      </div>
    <div class="row">
      <div class="offset-md-6 col-md-6">
        <div class="mt-3">
          <%= f.submit "Actualizar", class: "btn btn-warning" %>
        </div>
      </div>
    </div>
  <% end %>
</div>