<div class="container">
  <form>
    <div class="row">
      <div class="col-md-6">
        <img src="<%= rails_blob_url(@profile.profile_image) if @profile.profile_image.attached? %>" alt="" width="300" height="300">
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="mb-3 col-md-6">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" placeholder="Nombre perfil" value="<%= @profile.nombre %>" disabled>
          </div>
          <div class="mb-3 col-md-6">
            <label for="apellido">Apellido:</label>
            <input type="text" class="form-control" id="apellido" placeholder="Apellido" value="<%= @profile.apellido %>" disabled>
          </div>
          <div class="mb-3 col-md-6">
            <label for="direccion">Dirección:</label>
            <input type="text" class="form-control" id="direccion" placeholder="1234 Main St" value="<%= @profile.direccion %>" disabled>
          </div>
          <div class="mb-3 col-md-6">
            <label for="ciudad">Ciudad:</label>
            <input type="text" class="form-control" id="ciudad" value="<%= @profile.ciudad %>" disabled>
          </div>
          <div class="mb-3 col-md-6">
            <label for="estado">State</label>
            <input type="text" class="form-control" id="estado" value="<%= @profile.estado %>" disabled>
          </div>
          <div class="mb-3 col-md-6">
            <label for="zip">Código Postal:</label>
            <input type="text" class="form-control" id="zip" value="<%= @profile.zip %>" disabled>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="offset-md-6 col-md-6 mt-3">
        <%= link_to "Editar perfil", edit_profile_path(@profile), { class: "btn btn-info" } %>
      </div>
    </div>
  </form>
</div>