<div class="mt-5">
  <div class="row">
    <div class="offset-md-5 col-md-3">
      <h2 class="mb-3">Modificar Perfil</h2>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class:'user' }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs mb-3">
          <%= f.input :email, required: true, autofocus: true, input_html: {class: 'form-control-user', placeholder: 'Email'}, label: false %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
        </div>
        <div class="form-inputs mb-3">
          <%= f.input :password, hint: "Dejar en blanco si no quieres cambiarlo", required: false, input_html: { autocomplete: "new-password", class: 'form-control-user', placeholder: 'Contraseña' }, label: false %>
        </div>
        <div class="form-inputs mb-3">
          <%= f.input :password_confirmation, required: false, input_html: { autocomplete: "new-password", class: 'form-control-user', placeholder: 'Repetir Password' }, label: false %>
        </div>
        <div class="form-inputs mb-3">
          <%= f.input :current_password, hint: "Debes escribir tu contraseña actual para confirmar los cambios", required: true, input_html: { autocomplete: "current-password", class: 'form-control-user', placeholder: 'Contraseña Actual' }, label: false %>
        </div>

        <div class="form-actions mb-3">
          <%= f.button :submit, "Actualizar", class: 'btn btn-primary btn-user btn-block' %>
        </div>
      <% end %>

      <div class="mt-5 mb-5 border-top border-bottom py-4">
        <h3>Eliminar mi cuenta</h3>

        <p><%= link_to "Eliminar Cuenta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger btn-user btn-block' %></p>
      </div>

      <%= link_to "Volver", :back %>
    </div>
  </div>
</div>
