<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),  html: {class: 'user'}) do |f| %>
  <%= f.error_notification %>

  <div class="form-group mb-3">
    <%= f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email", class: 'form-control-user', placeholder: 'Email' }, label: false %>
  </div>
  <div class="form-group mb-3">
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} caracteres mínimo" if @minimum_password_length),
                input_html: { autocomplete: "new-password", class: 'form-control-user', placeholder: 'Contraseña' }, label: false %>
  </div>
  <div class="form-group mb-3">
    <%= f.input :password_confirmation, required: true,
                input_html: { autocomplete: "new-password", class: 'form-control-user', placeholder: 'Repetir Contraseña' }, label: false %>
  </div>

  <div class="form-actions mb-3">
    <%= f.button :submit, "Registrarse", class: 'btn btn-primary btn-user btn-block' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
