<%- if controller_name != 'sessions' %>
  <%= link_to "Login", new_session_path(resource_name), class: 'small' %><br />
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Registrarse", new_registration_path(resource_name), class: 'small' %><br />
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "¿Olvidaste tu contraseña?", new_password_path(resource_name), class: 'small' %><br />
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "¿No recibiste el email para activar tu cuenta?", new_confirmation_path(resource_name), class: 'small' %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "¿No rebisite el email para desbloquear tu cuenta?", new_unlock_path(resource_name), class: 'small' %><br />
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), method: :post  %><br />
  <% end %>
<% end %>
