<%= simple_form_for @client, remote: true do |f| %>
  <div class="mb-3">
    <h4 class="control-label">Datos del cliente</h4>
  </div>

  <div class="item <%= 'has-error has-feedback' if @client.errors[:nombre].any? %>">
    <%= f.label 'Nombre de Cliente: ' %>
    <%= f.input :nombre, class: 'form-control', placeholder: 'Introduzca el nombre del cliente...', label: false, input_html: {class: 'first-input'} %>
    <% if @client.errors[:nombre].any? %>
      <p class="bg-danger"><%= @client.errors[:nombre].to_s[/\w([^"]*)/] %></p>
    <% end %>
  </div>

  <div class="item <%= 'has-error has-feedback' if @client.errors[:direccion].any? %>">
    <%= f.label "Dirección: " %>
    <%= f.input :direccion, class: 'form-control', placeholder: 'Introduzca la dirección del cliente...', label: false %>
    <% if @client.errors[:direccion].any? %>
      <p class="bg-danger"><%= @client.errors[:direccion].to_s[/\w[^"]*/] %></p>
    <% end %>
  </div>

  <div class="item <%= 'has-error has-feedback' if @client.errors[:telefono].any? %>">
    <%= f.label 'Teléfono: ' %>
    <%= f.input :telefono, class: 'form-control', placeholder: 'Introduzca el nro. de teléfono del cliente...', label: false, input_html: {class: 'first-input'} %>
    <% if @client.errors[:telefono].any? %>
      <p class="bg-danger"><%= @client.errors[:telefono].to_s[/\w([^"]*)/] %></p>
    <% end %>
  </div>

  <div class="actions col-sm-9 p-0">
    <%= f.submit @client.new_record? ? "Crear Cliente" : "Actualizar Cliente", class: 'btn btn-success', data: {'bs-dismiss': "modal"} %>
  </div>
<% end %>