<h3 class="h3 mb-2 text-gray-800">Clientes</h3>

<div>
  <%= link_to new_client_path, remote: true, class: 'btn btn-info', id:'anadir-cliente-btn', data: {'bs-toggle': 'modal', 'bs-target': '#modalClients'} do %>
    <span class="fas fa-plus-square"></span>
  <% end %>
</div>

<br>

<div class="card shadow mb-4">
  <div class="cart-body">
    <div class="table-responsive">
      <table class="table table-bordered mb-0" id="tablaClients" style="width: 100%;">
        <thead>
        <tr>
          <th>Nombre de Cliente</th>
          <th>Dirección</th>
          <th>Teléfono</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @clients.each do |client| %>
          <tr id="cliente_<%= client.id %>">
            <td><%= client.nombre %></td>
            <td><%= truncate(client.direccion, length: 150) %></td>
            <td><%= client.telefono %></td>
            <td>
              <%= link_to edit_client_path(client), remote: true, class: 'btn btn-info btn-sm', data: {'bs-toggle': 'modal', 'bs-target': '#modalClients'} do %>
                <span class="fas fa-pencil"></span>
              <% end %>
              <%= link_to client, remote: true, method: :delete, data: {confirm: "¿Borrar cliente?: #{client.nombre}?"}, class: 'btn btn-danger btn-sm' do %>
                <span class="fas fa-trash"></span>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= render 'modal_clients' %>