// Add the dialog title
$('#modal-clients-title').html('Nuevo Cliente');

// Render the new form
$('.modal-body-clients').html('<%= j render("form") %>');

// Show the dynamic dialog // Set Focus to the first element
$(function(){
   $('#modalClients').on('shown.bs.modal', function(){
      $(this).find('#client_nombre').focus();
   });
});

