$('#cliente_<%= @client.id %>').replaceWith(
    '<tr id="cliente_<%= @client.id %>">' +
    '<td><%= @client.nombre %></td>' +
    '<td><%= @client.direccion %></td>' +
    '<td><%= @client.telefono %></td>' +
    '<td>' +
    '<%= link_to edit_client_path(@client), remote: true, class: "btn btn-info btn-sm", data: {"bs-toggle": "modal", "bs-target": "#modalClients"} do %>' +
    '<span class="fas fa-pencil"></span>' +
    '<% end %>' +
    '<%= link_to @client, remote: true, method: :delete, data: {confirm: "¿Borrar cliente?: #{@client.nombre}?"}, class: "btn btn-danger btn-sm" do %>' +
    '<span class="fas fa-trash"></span>' +
    '<% end %>' +
    '</td>'+
    '</tr>'
)