<div class="container-fluid bg-1 text-center">
  <h3 class="margin">Bienvenido <strong><%= @nombre %></strong></h3>
  <%= image_tag('happy-shop.jpg', size: '600x600', alt: 'Happy Shop', class: 'img-fluid' ) %>
</div>
