<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'user'}) do |f| %>
  <div class="form-group mb-3">
    <%= f.input :email, required: false, autofocus: true, input_html: { autocomplete: "email", class: 'form-control-user', placeholder: 'Email' }, label: false %>
  </div>
  <div class="form-group mb-3">
    <%= f.input :password, required: false, input_html: { autocomplete: "current-password", class: 'form-control-user', placeholder: 'Contraseña' }, label: false %>
  </div>
  <div class="form-group mb-3">
    <div class="custom-control custom-checkbox small">
      <%= f.input :remember_me, html: {class: 'custom-control-input'}, as: :boolean if devise_mapping.rememberable? %>
    </div>
  </div>

  <div class="form-actions mb-3">
    <%= f.button :submit, "Login", class: 'btn btn-primary btn-user btn-block' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
