.sidebar .nav-item .nav-link[data-bs-toggle=collapse].collapsed::after {
  content: '\f105';
}

.sidebar-dark .nav-item .nav-link[data-bs-toggle=collapse]::after {
  color: rgba(255,255,255,.5);
}

.sidebar .nav-item .nav-link[data-bs-toggle=collapse]::after {
  width: 1rem;
  text-align: center;
  float: right;
  vertical-align: 0;
  border: 0;
  font-weight: 900;
  content: '\f107';
  font-family: 'Font Awesome 5 Free';
}

.topbar .dropdown .dropdown-menu {
  left: unset;
}

.bg-login-image {
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: bottom !important;
}

form small {
  margin-left: 20px;
  &.form-text {
    font-size: 0.775em;
  }
}

.nombre-cliente .nombre-proveedor {
  font-size: 1.5em;
  margin-top: 10px;
}