<%= simple_form_for @category, remote: true do |f| %>
  <div class="mb-3">
    <h4 class="control-label">Datos de la categoría</h4>
  </div>

  <div class="item <%= 'has-error has-feedback' if @category.errors[:nombre].any? %>">
    <%= f.label 'Nombre de Categoría: ' %>
    <%= f.input :nombre, class: 'form-control', placeholder: 'Introduzca el nombre de la categoría...', label: false, input_html: {class: 'first-input'} %>
    <% if @category.errors[:nombre].any? %>
      <p class="bg-danger"><%= @category.errors[:nombre].to_s[/\w([^"]*)/] %></p>
    <% end %>
  </div>

  <div class="item <%= 'has-error has-feedback' if @category.errors[:descripcion].any? %>">
    <%= f.label "Descripción de la categoría: " %>
    <%= f.input :descripcion, class: 'form-control', placeholder: 'Introduzca la descripción de la categoría...', label: false, as: :text, input_html: {rows: 5} %>
    <% if @category.errors[:descripcion].any? %>
      <p class="bg-danger"><%= @category.errors[:descripcion].to_s[/\w[^"]*/] %></p>
    <% end %>
  </div>

  <div class="actions col-sm-9 p-0">
    <%= f.submit @category.new_record? ? "Crear Categoría" : "Actualizar Categoría", class: 'btn btn-success', data: {'bs-dismiss': "modal"} %>
  </div>
<% end %>