$('#tablaCategories').append(
    '<tr id="categoria_<%= @category.id %>">' +
    '<td><%= @category.nombre %></td>' +
    '<td><%= @category.descripcion %></td>' +
    '<td>' +
    '<%= link_to edit_category_path(@category), remote: true, class: "btn btn-info btn-sm", data: {"bs-toggle": "modal", "bs-target": "#modalCategories"} do %>' +
    '<span class="fas fa-pencil"></span>' +
    '<% end %>' +
    '<%= link_to @category, remote: true, method: :delete, data: {confirm: "¿Borrar categoría?: #{@category.nombre}?"}, class: "btn btn-danger btn-sm ml-1" do %>' +
    '<span class="fas fa-trash"></span>' +
    '<% end %>' +
    '</td>'+
    '</tr>'
)