// Add the dialog title
$('#modal-categories-title').html('Modificar Categoría');

// Render the new form
$('.modal-body-categories').html('<%= j render("form") %>');

// Show the dynamic dialog // Set Focus to the first element
$(function(){
    $('#modalCategories').on('shown.bs.modal', function(){
        $(this).find('#category_nombre').focus();
    });
});