<h3 class="h3 mb-2 text-gray-800">Categorías de productos</h3>

<div>
  <%= link_to new_category_path, remote: true, class: 'btn btn-info', id:'anadir-categoria-btn', data: {'bs-toggle': 'modal', 'bs-target': '#modalCategories'} do %>
    <span class="fas fa-plus-square"></span>
  <% end %>
</div>

<br>

<div class="card shadow mb-4">
  <div class="cart-body">
    <div class="table-responsive">
      <table class="table table-bordered mb-0" id="tablaCategories" style="width: 100%;">
        <thead>
        <tr>
          <th>Nombre Categoría</th>
          <th>Descripción</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
          <% @categories.each do |cat| %>
            <tr id="categoria_<%= cat.id %>">
              <td><%= cat.nombre %></td>
              <td><%= truncate(cat.descripcion, length: 150) %></td>
              <td>
                <%= link_to edit_category_path(cat), remote: true, class: 'btn btn-info btn-sm', data: {'bs-toggle': 'modal', 'bs-target': '#modalCategories'} do %>
                  <span class="fas fa-pencil"></span>
                <% end %>
                <%= link_to cat, remote: true, method: :delete, data: {confirm: "¿Borrar categoría?: #{cat.nombre}?"}, class: 'btn btn-danger btn-sm' do %>
                  <span class="fas fa-trash"></span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= render 'modal_categories' %>