<div class="modal fade" id="buscar_producto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modal-items-title">Buscador de productos</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body-items modal-body" id="modal-body-items">
        <div class="mb-3">
          <label for="buscador_productos">Ingresa el nombre del producto</label>
          <input type="text" class="form-control" data-tipo="<%= @tipo %>" data-model="<%= @model&.id %>" id="buscador_productos" placeholder="Nombre producto...">
        </div>
        <div class="mb-3">
          <label for="cantidad_producto">Ingresa una cantidad</label>
          <input type="number" class="form-control" id="cantidad_producto" placeholder="Ingresa la cantidad a vender..." value="1">
        </div>
        <table class="table table-dark" id="tabla_buscador">
          <thead>
          <tr>
            <th>Nombre</th>
            <th>Existencia</th>
            <th>Agregar</th>
          </tr>
          <tbody>

          </tbody>
          </thead>
        </table>
      </div>
      <div class="modal-footer" id="modal-footer-items">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>