<div class="modal fade" id="buscar_cliente" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="0" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-5" id="modal-items-title">Buscador de clientes</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body-items modal-body" id="modal-body-items">
        <div class="mb-3">
          <label for="buscador">Ingresa el nombre del cliente</label>
          <input type="text" class="form-control" data-venta = "<%= @sale.id %>" id="buscador_clientes" placeholder="Nombre cliente...">
        </div>
        <table class="table table-dark" id="tabla_buscador_clientes" >
          <thead>
          <tr>
            <th >Nombre</th>
            <th >Agregar</th>
          </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
      <div class="modal-footer" id="modal-footer-items">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>