<%= simple_form_for @product, remote: true do |f| %>
  <div class="mb-3">
    <h4 class="control-label">Datos del producto</h4>
  </div>

  <div class="item <%= 'has-error has-feedback' if @product.errors[:image].any? %>">
    <% if @product.image.attached? %>
      <div>
        <%= image_tag(@product.image, size: '100x100') if @product.image.attached? %>
      </div>
      <%= f.label 'Cambiar Imagen' if @product.image.attached? %>
    <% else %>
      <%= f.label 'Imagen: ' unless @product.image.attached? %>
    <% end %>

    <%= f.input :image, as: :file, input_html: { class: 'form-control' }, placeholder: 'Introduzca la imagen del producto...', label: false %>
    <% if @product.errors[:image].any? %>
      <p class="bg-danger"><%= @product.errors[:image].to_s[/\w([^"]*)/] %></p>
    <% end %>
  </div>

  <div class="item <%= 'has-error has-feedback' if @product.errors[:nombre].any? %>">
    <%= f.label 'Producto: ' %>
    <%= f.input :nombre, class: 'form-control', placeholder: 'Introduzca el nombre del producto...', label: false, input_html: {class: 'first-input'} %>
    <% if @product.errors[:nombre].any? %>
      <p class="bg-danger"><%= @product.errors[:nombre].to_s[/\w([^"]*)/] %></p>
    <% end %>
  </div>

  <div class="item <%= 'has-error has-feedback' if @product.errors[:direccion].any? %>">
    <%= f.label "Descripción: " %>
    <%= f.input :descripcion, class: 'form-control', placeholder: 'Introduzca la descripción del producto...', label: false %>
    <% if @product.errors[:descripcion].any? %>
      <p class="bg-danger"><%= @product.errors[:descripcion].to_s[/\w[^"]*/] %></p>
    <% end %>
  </div>

  <div class="item <%= 'has-error has-feedback' if @product.errors[:precio].any? %>">
    <%= f.label 'Precio: ' %>
    <%= f.input :precio, class: 'form-control', placeholder: 'Introduzca el precio del producto...', label: false %>
    <% if @product.errors[:precio].any? %>
      <p class="bg-danger"><%= @product.errors[:precio].to_s[/\w([^"]*)/] %></p>
    <% end %>
  </div>

  <div class="item <%= 'has-error has-feedback' if @product.errors[:existencia].any? %>">
    <%= f.label 'Stock Inicial: ' %>
    <%= f.input :existencia, class: 'form-control', placeholder: 'Introduzca la existencia del producto...', label: false %>
    <% if @product.errors[:existencia].any? %>
      <p class="bg-danger"><%= @product.errors[:existencia].to_s[/\w([^"]*)/] %></p>
    <% end %>
  </div>

  <div class="item <%= 'has-error has-feedback' if @product.errors[:category_id].any? %>">
    <%= f.label 'Categoría: ' %>
    <%= f.select :category_id, @categories, { prompt: 'Elegir categoría' }, class: 'form-select' , label: false %>
    <% if @product.errors[:category_id].any? %>
      <p class="bg-danger"><%= @product.errors[:category_id].to_s[/\w([^"]*)/] %></p>
    <% end %>
  </div>

  <div class="item <%= 'has-error has-feedback' if @product.errors[:supplier_id].any? %> mt-3">
    <%= f.label 'Proveedor: ' %>
    <%= f.select :supplier_id, @suppliers, { prompt: 'Elegir proveedor' }, class: 'form-select', label: false %>
    <% if @product.errors[:supplier_id].any? %>
      <p class="bg-danger"><%= @product.errors[:supplier_id].to_s[/\w([^"]*)/] %></p>
    <% end %>
  </div>

  <div class="actions col-sm-9 p-0 mt-5">
    <%= f.submit @product.new_record? ? "Crear Producto" : "Actualizar Producto", class: 'btn btn-success', data: {'bs-dismiss': "modal"} %>
  </div>
<% end %>