// Add the dialog title
$('#modal-products-title').html('Modificar Producto');

// Render the new form
$('.modal-body-products').html('<%= j render("form") %>');

// Show the dynamic dialog // Set Focus to the first element
$(function(){
    $('#modalProducts').on('shown.bs.modal', function(){
        $(this).find('#product_nombre').focus();
    });
});