<h3 class="h3 mb-2 text-gray-800">Productos</h3>

<div>
  <%= link_to new_product_path, remote: true, class: 'btn btn-info', id:'anadir-producto-btn', data: {'bs-toggle': 'modal', 'bs-target': '#modalProducts'} do %>
    <span class="fas fa-plus-square"></span>
  <% end %>
</div>

<br>

<div class="card shadow mb-4">
  <div class="cart-body">
    <div class="table-responsive">
      <table class="table table-bordered mb-0" id="tablaProducts" style="width: 100%; border-spacing: 0">
        <thead>
        <tr>
          <th></th>
          <th>Producto</th>
          <th>Stock</th>
          <th>Precio</th>
          <th>Categoría</th>
          <th>Proveedor</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @products.each do |product| %>
          <tr id="producto_<%= product.id %>">
            <td><%= image_tag(product.image, width: '50px') if product.image.attached? %></td>
            <td><%= product.nombre %></td>
            <td><%= product.existencia %></td>
            <td>$ <%= product.precio %></td>
            <td><%= product.category_id.present? ? product.category.nombre : "No tiene categoría" %></td>
            <td><%= product.supplier_id.present? ? product.supplier.nombre : "No tiene proveedor" %></td>
            <td>
              <%= link_to edit_product_path(product), remote: true, class: 'btn btn-info btn-sm', data: {'bs-toggle': 'modal', 'bs-target': '#modalProducts'} do %>
                <span class="fas fa-pencil"></span>
              <% end %>
              <%= link_to product, remote: true, method: :delete, data: {confirm: "¿Borrar producto?: #{product.nombre}?"}, class: 'btn btn-danger btn-sm' do %>
                <span class="fas fa-trash"></span>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= render 'modal_products' %>