$('#producto_<%= @product.id %>').replaceWith(
    '<tr id="producto_<%= @product.id %>">' +
    '<td><%= image_tag(@product.image, width: '50px') if @product.image.attached? %></td>' +
    '<td><%= @product.nombre %></td>' +
    '<td><%= @product.existencia %></td>' +
    '<td>$ <%= @product.precio %></td>' +
    '<td><%= @product.category_id.present? ? @product.category.nombre : "No tiene categoría" %></td>' +
    '<td><%= @product.supplier_id.present? ? @product.supplier.nombre : "No tiene proveedor" %></td>' +
    '<td>' +
    '<%= link_to edit_product_path(@product), remote: true, class: "btn btn-info btn-sm", data: {"bs-toggle": "modal", "bs-target": "#modalProducts"} do %>' +
    '<span class="fas fa-pencil"></span>' +
    '<% end %>' +
    '<%= link_to @product, remote: true, method: :delete, data: {confirm: "¿Borrar producto?: #{@product.nombre}?"}, class: "btn btn-danger btn-sm" do %>' +
    '<span class="fas fa-trash"></span>' +
    '<% end %>' +
    '</td>'+
    '</tr>'
)