<h3 class="h3 mb-2 text-gray-800">Proveedores</h3>

<div>
  <%= link_to new_supplier_path, remote: true, class: 'btn btn-info', id:'anadir-proveedor-btn', data: {'bs-toggle': 'modal', 'bs-target': '#modalSuppliers'} do %>
    <span class="fas fa-plus-square"></span>
  <% end %>
</div>

<br>

<div class="card shadow mb-4">
  <div class="cart-body">
    <div class="table-responsive">
      <table class="table table-bordered mb-0" id="tablaSuppliers" style="width: 100%;">
        <thead>
        <tr>
          <th>Nombre de Proveedor</th>
          <th>Dirección</th>
          <th>Teléfono</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @suppliers.each do |supplier| %>
          <tr id="proveedor_<%= supplier.id %>">
            <td><%= supplier.nombre %></td>
            <td><%= truncate(supplier.direccion, length: 150) %></td>
            <td><%= supplier.telefono %></td>
            <td>
              <%= link_to edit_client_path(supplier), remote: true, class: 'btn btn-info btn-sm', data: {'bs-toggle': 'modal', 'bs-target': '#modalSuppliers'} do %>
                <span class="fas fa-pencil"></span>
              <% end %>
              <%= link_to supplier, remote: true, method: :delete, data: {confirm: "¿Borrar proveedor?: #{supplier.nombre}?"}, class: 'btn btn-danger btn-sm' do %>
                <span class="fas fa-trash"></span>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= render 'modal_suppliers' %>