// Add the dialog title
$('#modal-suppliers-title').html('Nuevo Proveedor');

// Render the new form
$('.modal-body-suppliers').html('<%= j render("form") %>');

// Show the dynamic dialog // Set Focus to the first element
$(function(){
   $('#modalSuppliers').on('shown.bs.modal', function(){
      $(this).find('#supplier_nombre').focus();
   });
});

