$('#proveedor_<%= @supplier.id %>').replaceWith(
    '<tr id="proveedor_<%= @supplier.id %>">' +
    '<td><%= @supplier.nombre %></td>' +
    '<td><%= @supplier.direccion %></td>' +
    '<td><%= @supplier.telefono %></td>' +
    '<td>' +
    '<%= link_to edit_supplier_path(@supplier), remote: true, class: "btn btn-info btn-sm", data: {"bs-toggle": "modal", "bs-target": "#modalSuppliers"} do %>' +
    '<span class="fas fa-pencil"></span>' +
    '<% end %>' +
    '<%= link_to @supplier, remote: true, method: :delete, data: {confirm: "¿Borrar proveedor?: #{@supplier.nombre}?"}, class: "btn btn-danger btn-sm" do %>' +
    '<span class="fas fa-trash"></span>' +
    '<% end %>' +
    '</td>'+
    '</tr>'
)