<form class="form-floating mb-3">
  <div class="row">
    <div class="mb-3 col-md-6">
      <label for="id">ID</label>
      <input type="text" class="form-control" id="id" value="<%= @entrada_almacen.id %>" disabled>
    </div>
    <div class="mb-3 col-md-6">
      <label for="date">Fecha</label>
      <input type="text" class="form-control" id="date" value="<%= l(@entrada_almacen.created_at, format:"%d-%m-%Y") %>" disabled>
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-md-6">
      <label for="seller">Almacenista</label>
      <input type="text" class="form-control" id="seller" value="<%= @entrada_almacen.user.nombre.present? ? @entrada_almacen.user.nombre : @entrada_almacen.user&.email  %>" disabled>
    </div>
  </div>
</form>
<br>
<table class="table table-dark">
  <thead>
    <tr>
      <th>Producto</th>
      <th>Cantidad</th>
    </tr>
  </thead>
  <tbody>
    <% @entrada_almacen.warehouse_details.each do |detalle| %>
      <tr>
        <td><%= detalle.product.nombre %></td>
        <td><%= detalle.cantidad %></td>
      </tr>
    <% end %>
  </tbody>
</table>