<%=  stylesheet_pack_tag 'sales' %>
<div class="row">
  <div class="col-md-6">
    <h3 class="h3 mb-2 text-gray-800">Detalle de entrada</h3>
  </div>
  <div class="col-md-6" style="text-align: right;"></div>
  <div class="col-md-5">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#buscar_producto">
      Buscar producto
    </button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#buscar_proveedor">
      Buscar proveedor
    </button>
  </div>
  <div class="col-md-7" style="text-align: right;">
    <%= link_to 'Finalizar registro', warehouses_path, class: 'btn btn-success' %>
    <%= link_to 'Cancelar registro', warehouse_path, method: :delete, data: {confirm: '¿Cancelar la entrada del almacen?'}, class: 'btn btn-danger' %>
  </div>
  <div id="proveedor-entrada" class="nombre-proveedor col-md-3">
    Proveedor: <%= @entrada_almacen.supplier.present? ? @entrada_almacen.supplier&.nombre : "Proveedor general" %>
  </div>
</div>
<br>
<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="tabla_entradas_almacen" width="80%" cellspacing="0">
        <thead>
          <tr>
            <th>Id</th>
            <th>Producto</th>
            <th>Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <% if !@entradas_almacen.present? %>
            <tr>
              <td>No hay productos en la entrada</td>

            </tr>
          <% else %>
            <% @entradas_almacen.each do |det| %>
              <tr>
                <td><%= det.product&.id %></td>
                <td><%= det.product&.nombre %></td>
                <td><%= det.cantidad %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%
  @model = @entrada_almacen
  @tipo = 'warehouse'
%>

<%= render 'buscar_producto', model: @model, tipo: @tipo %>
<%= render 'buscar_proveedor', warehouse: @entrada_almacen %>

