// Add the dialog title
$('#modal-warehouse-title').html('Detalle de la Entrada');

// Render the new form
$('.modal-body-warehouse').html('<%= j render("warehouse") %>');

// Show the dynamic dialog // Set Focus to the first element
$(function(){
    $('#modalWarehouse').on('shown.bs.modal', function(){
        $(this).find('#warehouse_nombre').focus();
    });
});