<form class="form-floating mb-3">
  <div class="row">
    <div class="mb-3 col-md-6">
      <label for="id">ID</label>
      <input type="text" class="form-control" id="id" value="<%= @sale.id %>" disabled>
    </div>
    <div class="mb-3 col-md-6">
      <label for="date">Fecha</label>
      <input type="text" class="form-control" id="date" value="<%= l(@sale.created_at, format:"%d-%m-%Y") %>" disabled>
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-md-6">
      <label for="sale-amount">Monto de venta</label>
      <input type="text" class="form-control" id="sale-amount" value="<%= @sale.importe %>" disabled>
    </div>
    <div class="mb-3 col-md-6">
      <label for="seller">Vendedor</label>
      <input type="text" class="form-control" id="seller" value="<%= @sale.user.nombre %>" disabled>
    </div>
  </div>
</form>
<br>
<table class="table table-dark">
  <thead>
    <tr>
      <th>Producto</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th>Importe</th>
    </tr>
  </thead>
  <tbody>
    <% @sale.sale_details.each do |detalle| %>
      <tr>
        <td><%= detalle.product.nombre %></td>
        <td><%= detalle.cantidad %></td>
        <td><%= detalle.product.precio %></td>
        <td><%= detalle.product.precio * detalle.cantidad %></td>
      </tr>
    <% end %>
  </tbody>
</table>