<%=  stylesheet_pack_tag 'sales' %>
<div class="row">
  <div class="col-md-6">
    <h3 class="h3 mb-2 text-gray-800">Punto de venta</h3>
  </div>
  <div class="col-md-6" style="text-align: right;">
    <h2 id="importe_venta_lbl">Importe $<%= @sale.importe %></h2>
  </div>
  <div class="col-md-5">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#buscar_producto">
      Buscar producto
    </button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#buscar_cliente">
      Buscar cliente
    </button>
  </div>
  <div class="col-md-7" style="text-align: right;">
    <%= link_to 'Finalizar venta', sales_path, class: 'btn btn-success' %>
    <%= link_to 'Cancelar venta', @sale, method: :delete, data: {confirm: '¿Cancelar la venta?'}, class: 'btn btn-danger' %>
  </div>
  <div id="cliente_venta" class="nombre-cliente col-md-3">
    Cliente: <%= @sale.client.present? ? @sale.client&.nombre : "Consumidor Final" %>
  </div>
</div>
<br>
<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="tabla_ventas" width="80%" cellspacing="0">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Precio Unitario</th>
            <th>Cantidad</th>
            <th>Importe</th>
          </tr>
        </thead>
        <tbody>
          <% if !@products_sale.present? %>
            <tr>
              <td>No hay productos en la venta</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          <% else %>
            <% @products_sale.each do |det| %>
              <tr>
                <td><%= det.product&.nombre %></td>
                <td><%= det.product&.precio %></td>
                <td><%= det.cantidad %></td>
                <td>$ <%= det.product&.precio * det.cantidad %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%
  @model = @sale
  @tipo = 'sales'
%>

<%= render 'buscar_producto', model: @model, tipo: @tipo %>
<%= render 'buscar_cliente', sale: @sale%>

