<%= link_to new_sale_path, class: 'btn btn-info', id: 'crear-venta-btn' do %>
  <span class="fas fa-plus-square"></span> Realizar venta
<% end %>
<br><br>
<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="tabla_ventas" width="60%" cellspacing="0">
        <thead>
        <tr>
          <th>Id</th>
          <th>Vendedor</th>
          <th>Cliente</th>
          <th>Importe</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
          <% if !@sales.present? %>
            <tr>
              <td>No hay ventas</td>
              <td></td>
              <td></td>
            </tr>
          <% else %>
            <% @sales.each do |sale| %>
              <tr>
                <td><%= sale.id %></td>
                <td><%= sale.user.nombre.present? ? sale.user.nombre : sale.user.email %></td>
                <td><%= sale.client&.nombre %></td>
                <td><%= sale.importe %></td>
                <td>
                  <%= link_to sale_path(sale), class: 'btn btn-info btn-xs', data: {'bs-toggle': 'modal', 'bs-target': '#modalSales'}, remote: true do %>
                    <i class="fas fa-info"></i>
                  <% end %>
                  <%= link_to 'X', sale, method: :delete, data: {confirm: 'Eliminar venta?'}, class: 'btn btn-danger btn-xs'  %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= render 'modal_sales' %>