// Add the dialog title
$('#modal-sales-title').html('Detalle de la Venta');

// Render the new form
$('.modal-body-sales').html('<%= j render("sale") %>');

// Show the dynamic dialog // Set Focus to the first element
$(function(){
    $('#modalSales').on('shown.bs.modal', function(){
        $(this).find('#sale_nombre').focus();
    });
});