<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <%= link_to root_path , class:'sidebar-brand d-flex align-items-center justify-content-center' do %>
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-kiss-wink-heart"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Sys Admin <sup>v1.1</sup></div>
  <% end %>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Modulos
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <%= link_to categories_path, class: 'nav-link' do %>
      <i class="fas fa-tags"></i>
      <span>Categorías</span>
    <% end %>
  </li>

  <li class="nav-item">
    <%= link_to products_path, class: 'nav-link' do %>
      <i class="fas fa-boxes-packing"></i>
      <span>Productos</span>
    <% end %>
  </li>

  <li class="nav-item">
    <%= link_to clients_path, class: 'nav-link' do %>
      <i class="fas fa-users"></i>
      <span>Clientes</span>
    <% end %>
  </li>

  <li class="nav-item">
    <%= link_to suppliers_path, class: 'nav-link' do %>
      <i class="fas fa-truck"></i>
      <span>Proveedores</span>
    <% end %>
  </li>

  <li class="nav-item">
    <%= link_to sales_url, class: 'nav-link' do %>
      <i class="fas fa-shopping-cart"></i>
      <span>Ventas</span>
    <% end %>
  </li>

  <li class="nav-item">
    <%= link_to warehouses_url, class: 'nav-link' do %>
      <i class="fas fa-warehouse"></i>
      <span>Almacén</span>
    <% end %>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
<!-- End of Sidebar -->