<!DOCTYPE html>
<html>
<head>
  <title>Sistema Administrativo</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body id="page-top">
  <div id="wrapper">

    <%= render 'layouts/side_bar' %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <%= render 'layouts/top_bar' %>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <%= yield %>

        </div>

      </div>
      <!-- End of Main Content -->

      <%= render 'layouts/footer' %>

    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <%= render 'layouts/logout_modal' %>

  <script type="text/javascript" charset="utf-8">
      $(document).ready(function () {
          console.log('jquery funciona')
      });
  </script>

</body>
</html>
